---
import Card from "../components/card.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <h1>Bonjour tout le monde</h1>
    <h2>Orkestre</h2>
    <section class="medlemsliste">
      <Card navn="Keld1" email="kemm@kea.dk" rolle="user" billede="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" />
      <Card navn="Jonas1" email="joha@kea.dk" rolle="reader" billede="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />
      <Card navn="Peter1" email="peuj@kea.dk" rolle="admin" billede="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" />
      <Card navn="Keld2" email="kemm@kea.dk" rolle="user" billede="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" />
      <Card navn="Jonas2" email="joha@kea.dk" rolle="reader" billede="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill" />
      <Card navn="Peter2" email="peuj@kea.dk" rolle="admin" billede="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill" />
      <Card navn="Keld3" email="kemm@kea.dk" rolle="user" billede="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill" />
      <Card navn="Jonas3" email="joha@kea.dk" rolle="reader" billede="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill" />
      <Card navn="Peter3" email="peuj@kea.dk" rolle="admin" billede="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill" />
    </section>
  </main>
</Layout>

<style>
  body {
    background: linear-gradient(135deg, #3a29d4, #05033e);
  }
  main {
    margin: auto;
    max-width: 1000px;
  }
  .medlemsliste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
</style>
